@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    scroll-behavior: smooth;
    background-color:  rgb(29, 36, 51);

}
.navbar{
    margin: 3vh auto 0px;
    backdrop-filter: blur(9px);
    border: 0.5px solid rgb(42, 44, 54);
    width: 90vw;
    margin-left: 70px;
    
}


.moblienav{
    border: 1px solid rgb(86, 89, 100);
    backdrop-filter: blur(9px);
    
    

}

.main{
    height: 100vh;
    
}

.maindiv{
    background-color:  rgb(29, 36, 51);

}
.skill{
    
    background-color:rgb(35, 42, 59);
}
.aboutHr{
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
    margin-bottom: 1px;
}
.pageone{
    background-color:  rgb(29, 36, 51);
    
}

.footerhr{
    margin: 0px;
   
    flex-shrink: 0;
    border-width: 0px thin 0px 0px;
    border-style: solid;
    border-color: white;
    height: auto;
    align-self: stretch;
}
